.svn
/.idea
/.gradle
/freeline
/freeline_core
/build
/*.iml
/*.project
/.settings
/app/build
/app/.classpath
/app/.project
/app/.settings
/library/build
/library/.classpath
/library/.project
/library/.settings
/library/.externalNativeBuild

/app/*.iml
/library/*.iml
/freeline*.zip
local.properties

